[submodule "cmsis"]
	path = svd/soc
	url = git@github.com:M-o-a-T/cmsis-svd.git
[submodule "svd/core"]
	path = svd/core
	url = git@github.com:ARM-software/CMSIS.git
[submodule "scripts/mf/util"]
	path = scripts/mf/util
	url = git@github.com:smurfix/util-py
